<!--The content below is only a placeholder and can be replaced.-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--header-->
<!-- <nav class="nav navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-12">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                      <span class="fa fa-bars"></span>
                  </button>
        <a href="index.html" class="navbar-brand">VenztecMaps</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="mynavbar">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/lugares">Inicio</a></li>
          <li routerLinkActive="active"><a href="#feature">Feature</a></li>
          <li routerLinkActive="active"><a href="#portfolio">Portfolio</a></li>
          <li routerLinkActive="active"><a routerLink="/contacto">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

-->


<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">VenztecMaps</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active"><a routerLink="/contacto">contacto</a></li>

      </ul>


    </div>
  </div>
</nav> -->





<app-navbar></app-navbar>
<router-outlet></router-outlet>




<!-- <footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">

          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>

          <h1>Information Request</h1>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Name" formControlName="name">
            <input type="text" placeholder="Email" formControlName="email">
            <textarea placeholder="Message" formControlName="message"></textarea>
            <button type="submit" [disabled]="form.invalid">Submit</button></form>
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer> -->
