#alerta {

}

label{
    margin-bottom:10px !important;
}

.img-responsive{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}